<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>VueJS</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='assets/css/main.css'>

</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <div id="app">
        {{ message }}
    </div>


    <div id="app-2">
        <span v-bind:title="message"> Hover your mouse over me for a few seconds
            to see my dynamically bound title! (Aparece etiqueta)</span>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>


    <div id="app-6">
        <p>{{message}}</p>
        <input v-model="message">
    </div>


    <ol>
        <todo-item></todo-item>
    </ol>


    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" 
            v-bind:todo="item"
            v-bind:key="item.id" ></todo-item>
        </ol>
    </div>

    <div id="app">
        <p>{{ foo }}</p>
        <!-- this will no longer update `foo`! -->
        <button v-on:click="foo = 'baz'">Change it</button>
      </div>

    <script src='assets/js/main.js'></script>
</body>

</html>